<%- include('./partials/header'); %>

<div class="container AdminCont">
    <div class="row">
        <div class="col-sm">
            <div class="card text-center" id="Productos">
                <div class="card-header">
                    Productos
                </div>
                <div class="card-body center">
                    <i class="fas fa-shopping-cart"></i>
                    <hr>
                    <span>Administra y agrega productos</span>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" id="Users">
                <div class="card-header">
                    Users
                </div>
                <div class="card-body">
                    <i class="fas fa-user S"></i> 
                    <hr>
                    <span>Administra y crea usuarios</span>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" id="Admins">
                <div class="card-header">
                    Estadisticas
                </div>
                <div class="card-body">
                    <i class="fas fa-user-tie"></i>  
                    <hr>
                    <span>dasdklasdlkhasdlkhaslkd</span>
                </div>

              </div>
        </div>
    </div>
    <hr>
</div>

<div class="jumbotron">
    <div class="container">
        dasd
    </div>  
</div>

<%- include('./partials/bottom'); %>