<%- include('./partials/header'); %>

    <div class="containerContact">
        <h2 class="name-login"> <img src="Images/BigLogo.png" style="padding-bottom: 9px;"> Sigma</h2>

        <div class="container">
            
        </div>

    </div>

<%- include('./partials/bottom'); %>