<%- include('./partials/header'); %>

<script>
    var SearchData= <%- JSON.stringify(ProductoData) %>
</script>

    <div class="containerContact">

        <h2 class="name-login"> <img src="Images/BigLogo.png" style="padding-bottom: 9px;"> Sigma</h2>

        <div class="card login">
            <div class="card-body colorBg">
                <form class="form ">
                    <div class="row ml-sm-1 mr-sm-1">
                        <input class="form-control col-sm-12 search" id="Busqueda" type="search" placeholder='Search' oninput="buscar(SearchData,filter)" aria-label="Search">
                    </div>
                </form>
                <hr>
                <nav aria-label="breadcrumb categoria">
                    <ol class="breadcrumb categoria">
                        <li class="breadcrumb-item activo"><a href="#" class="category hover">Todos</a></li>
                        <li class="breadcrumb-item"><a href="#" class="category hover">Dolor General</a></li>
                        <li class="breadcrumb-item"><a href="#" class="category hover">Salud Digestiva</a></li>
                        <li class="breadcrumb-item"><a href="#" class="category hover">Salud Respiratoria</a></li>
                        <li class="breadcrumb-item"><a href="#" class="category hover">Vitaminas y Productos Naturales</a></li>
                        <li class="breadcrumb-item"><a href="#" class="category hover">Botiquín y Primeros Auxilios</a></li>
                        <li class="breadcrumb-item"><a href="#" class="category hover">Rehabilitacion y Equipos Medicos</a></li>
                    </ol>
                </nav>
                <hr>
                <div class="row row-cols-1 row-cols-md-3" id="productos">

                </div>
            </div>
        </div>

    </div>
    
<%- include('./partials/bottom'); %>