<%- include('./partials/header'); %>

<div class="cont">

    <h1 class="name-login"> <img src="Images/BigLogo.png" style="padding-bottom: 9px;"> Sigma</h1>

    <% if (responses.messageErr !== "") {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong id="errRegister"><%= responses.messageErr %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }%>

    <div class="card login">
        <div class="card-body colorBg">
            <form action="/login" method="POST">
                <div class="img-Login">
                <img src="Images\user-placeholder.png" class="img-Login">
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="data[email]" required>
                <small id="emailHelp" class="form-text text-muted">Coloca tu Usuario del sistema</small>
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Clave</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="data[pass]" required>
                </div>
                <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar mis Credenciales</label>
                </div>
                <div class="Login-button">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                </div>
            </form>
        </div>
    </div>

</div>
  

<%- include('./partials/bottom'); %>