.size{
    height: 65vh;
    object-fit: cover;
}

.home-divider{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

button{
    outline: none;
}

.containerDemo{
    margin: 0 7%;
}

.img-Login {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.login {
    width: 80%;
    margin-left: 10%;
}

.name {
    font-size: 4em;
    text-align: center;
    margin-top: 3.5%;
}

.nav-bg{
    background: linear-gradient(to top, black 50%, #fcb87d 50%);
    background-size: 200% 200%;
    background-position: top right;
    transition: all .15s ease-out;
    fill: black;
}

html body div.card-body.colorBg{
    background-color: #ffddb7b7;
    backdrop-filter: blur(1px);
    
}

.cont{
    max-width: 720px;
    margin: 0 auto;
}

svg {
    width: 38px;
    height: 38px;
}

.nav-bg:hover, .nav-bg:hover svg, .nav-bg:hover a,html body .nav-bg:hover div ul a
, .nav-bg:hover ul.nav a:hover, .nav-bg:hover button.navbar-toggler, .nav-bg:hover span.navbar-toggler-icon{
    background-position: left bottom;
    fill:whitesmoke;
    color: #f5f5f5 !important; 
    border-color: rgba(255, 255, 255, 0.233);
}

.fas.fa-bars{
    font-size: 1.5em;
}