body {
    background-image: url("/Images/fondo-medicina.jpg");
    -webkit-font-smoothing: antialiased;
}

.size{
    height: 65vh;
    object-fit: cover;
}

html body .jumbotron.home-divider{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    backdrop-filter: blur(10px);
    background-color: #e9ecefc0;
}

html body .btn{
    outline: none;
    background-color: #ffdd84;
    border: none;
    color: black;

}

html body .btn:hover {
    background-color: black;
    color: white;
    transition: 330ms;
}

.containerDemo{
    margin: 0 7%;
}

.img-Login {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

html body div.card.login{
    width: 80%;
    margin-left: 10%;
    background-color: #f2f2f2b2;
    backdrop-filter: blur(10px);
}

.name-login {
    font-size: 4em;
    text-align: center;
    margin-top: 3.5%;
}

.name {
    float: right;
    padding-left: 8px;
    padding-top: 3px;
}

.nav-bg{
    background: linear-gradient(to top, black 50%, #ffdd84 50%);
    background-size: 200% 200%;
    background-position: top right;
    transition: all .15s ease-out;
    fill: black;
    box-shadow: rgba(128, 128, 128, 0.363) 1px 0px 55px;
}

.cont{
    max-width: 720px;
    margin: 0 auto;
}

svg {
    width: 38px;
    height: 38px;
}

.nav-bg:hover, .nav-bg:hover svg, .nav-bg:hover a,html body .nav-bg:hover div ul a
, .nav-bg:hover ul.nav a:hover, .nav-bg:hover button.navbar-toggler, .nav-bg:hover span.navbar-toggler-icon{
    background-position: left bottom;
    fill:whitesmoke;
    color: #f5f5f5 !important; 
    border-color: rgba(255, 255, 255, 0.233);
}

a:hover{
    font-weight: 700;
    transition: 220ms;
}

.fas.fa-bars{
    font-size: 1.5em;
}

.AdminCont{
    margin-top: 5.4%;
}

html body div.card.text-center#Productos{
    background-color: #007bffe3;
    backdrop-filter: blur(1px);
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: 330ms;
}

html body div.card.text-center#Productos:hover{
    box-shadow: rgba(0, 0, 0, 0.39) 0 0 30px;
    transform: scale(1.155555555555555);
    backface-visibility: hidden;
    transition: 330ms;
}

html body div.card.text-center#Users{
    background-color: #77d863e3;
    backdrop-filter: blur(1px);
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: 330ms;
}

html body div.card.text-center#Users:hover{
    box-shadow: rgba(0, 0, 0, 0.39) 0 0 30px;
    transform: scale(1.155555555555555);
    backface-visibility: hidden;
    transition: 330ms;
}

html body div.card.text-center#Admins{
    background-color: #f7dc66e3;
    backdrop-filter: blur(1px);
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: 330ms;
}

html body div.card.text-center#Admins:hover{
    box-shadow: rgba(0, 0, 0, 0.39) 0 0 30px;
    transform: scale(1.155555555555555);
    backface-visibility: hidden;
    transition: 330ms;  
}

.fa-shopping-cart, .fa-user-tie, .fa-user.S{
    font-size: 3em;
}

.center{
    align-content: center;

}

.Login-button{
    display: flex;
    justify-content: center;
}