.size{
    height: 65vh;
}

.home-divider{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.containerDemo{
    margin: 0 7%;
}

.cont {
    margin-top: 5%;
}

.img-Login {
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.login {
    width: 80%;
    margin-left: 10%;
}

.name {
    font-size: 4em;
    text-align: center;
    text-decoration: dotted;
    margin-bottom: 5%;
}